<!DOCTYPE html>
<html lang="uz">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="2026 yil Viza menejer kasbini o'rganib, oylik 2000$ daromadga chiqishni xohlaysizmi? Harakatni hozirdan boshlang! Bu yildagi so'nggi offlayn guruhga qo'shiling." />
		<title>YouViza - Viza Menejer Kursi 2026</title>
		{{> "src/components/fonts.hbs"}}
		{{> "src/components/critical-css-base.hbs"}}
		{{> "src/components/critical-css-home.hbs"}}
		<link rel="preload" href="/src/styles/home.scss" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="/src/styles/home.scss"></noscript>
	</head>
	<body>
		<div class='landing-page'>
			{{> "src/components/header.hbs"}}
			{{> "src/main.hbs"}}
			<footer class='footer'>
				<p class='footer__text'>24 soatdan so'ng qabul yopiladi: <span class='footer__timer'>23:59:59</span></p>
			</footer>
		</div>
		{{#if isProd}}
			<script defer src='{{base}}assets/carousel.min.js'></script>
			<script defer src="{{base}}assets/countdown.min.js"></script>
		{{else}}
			<script type='module'>
				import '/src/js/modules/carousel.js'
				import '/src/js/modules/countdown.js'
			</script>
		{{/if}}
	{{> "src/components/deferred-font.hbs"}}
	</body>
</html>
