@use 'sass:math';
@use './variables' as *;

@function rem($px) {
	@return math.div($px, 16) + rem;
}

@function em($px, $base: 16) {
	@return math.div($px, $base) + em;
}

@function fluid($startSize, $minSize, $widthFrom: $containerWidth, $widthTo: $minWidth) {
	@if ($startSize==$minSize) {
		@return #{$startSize}px;
	}

	$addSize: $startSize - $minSize;
	$widthDiff: $widthFrom - $widthTo;

	$slope: math.div($addSize, $widthDiff);
	$yIntersection: $minSize - ($slope * $widthTo);

	@return calc(#{$yIntersection}px + #{$slope * 100}vw);
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
