$color-primary: #2F72F5;
$color-highlight: #0082FE;
$color-text: #000;
$color-white: #fff;

$font-main: 'Inter', -apple-system, Roboto, Helvetica, sans-serif;
$font-display: 'Big Shoulders Display', -apple-system, Roboto, Helvetica, sans-serif;