@use 'mixins';

.carousel-cards {
	overflow: hidden;
	position: relative;
	margin: 23px clamp(5px, mixins.fluid(20, 5), 20px) 50px;

	&__container {
		display: flex;
		/* swiper overrides */
		box-sizing: content-box;
	}

	&__indicators {
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100% !important;
		display: flex !important;
		align-items: center;
		justify-content: center;
		gap: 5px;
		z-index: 2;
	}

	&__indicator {
		width: 30px;
		height: 5px;
		flex-shrink: 0;
		border-radius: 50px;
		background: #ffffff;
		opacity: 0.5;
		transition: opacity 0.3s ease;
		cursor: pointer;
		margin: 0 !important; // Override swiper default margins

		&--active {
			opacity: 1;
			background: #ffffff;
		}
	}
}

.carousel-card {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	// height: 193px;
	scroll-snap-align: start;

	&:last-child {
		padding-right: 0;
	}

	&__image {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		object-fit: contain;
		object-position: center;
		display: block;
		pointer-events: none;

		&::selection {
			display: none;
		}
	}
}
