@use './fonts.scss';
@use './variables' as *;
@use './mixins';
@use './shared';

.hero {
   padding: 0 20px;
   text-align: center;

   &__title {
      font-family: $font-display;
      @include mixins.adaptiv-value("font-size", 33, 24);
      font-weight: 900;
      line-height: 120%;

      text-transform: uppercase;
      color: $color-text;
      margin-bottom: 20px;
   }

   &__highlight {
      color: $color-highlight;
   }

   &__description {
      font-family: $font-main;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      color: $color-text;

      strong {
         font-weight: 700;
      }
   }
}

.guarantee {
   padding: 0 20px;
   @include mixins.flex-column-center;
   gap: 10px;

   &__image {
      width: 100%;
      max-width: 395px;
      height: auto;
      border-radius: 20px;
      display: block;
   }

   &__indicators {
      display: flex;
      align-items: center;
      gap: 5px;
   }

   &__indicator {
      width: 30px;
      height: 5px;
      border-radius: 50px;
      background: $color-primary;
      opacity: 0.5;
      transition: opacity 0.3s ease;

      &--active {
         opacity: 1;
      }
   }
}

.course-info {
   padding: 0 20px;
   @include mixins.flex-column-center;
   gap: 35px;
   margin-bottom: 45px;
}

.section-title {
   font-family: $font-display;
   font-size: 33px;
   font-weight: 900;
   text-transform: uppercase;
   color: $color-text;
   text-align: center;
   line-height: 1.2;
}

.feature-card {
   width: 100%;
   max-width: 313px;
   border-radius: 65px;
   min-height: 273px;
   height: auto;
   border-top: 1px solid $color-primary;
   border-bottom: 1px solid $color-primary;
   @include mixins.flex-column-center;
   // gap: 20px;
   background-color: #F1F1F1;
   padding: 0 28px;

   &:not(:last-child) {
      margin-bottom: 15px;
   }

   &__image {
      margin-top: -15px;
      margin-bottom: 15px;
      border-radius: 75px;
      @include mixins.flex-center;
      background: radial-gradient(50% 50% at 50% 50%, #87b0ff 0%, #2f72f5 100%);
   }

   &__content {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 6px;
   }

   &__title {
      font-family: $font-display;
      font-size: 30px;
      font-weight: 900;
      text-transform: uppercase;
      color: $color-text;
      line-height: 1;
   }

   &__text {
      font-family: $font-main;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      color: $color-text;
   }
}

.cta-container {
   padding: 0 20px;
   display: flex;
   justify-content: center;
   margin-bottom: 45px;
}

.instructor {
   padding: 0 20px;
   @include mixins.flex-column-center;
   gap: 20px;
   margin-bottom: 55px;

   &__content {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      @media (max-width: 375px) {
         gap: 5px;
      }
   }

   &__photo {
      @include mixins.adaptiv-value("width", 183, 130);
      @include mixins.adaptiv-value("height", 268, 190);
      border-radius: 30px;
      background: url('/images/instructor_photo.avif') lightgray center / cover no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      @include mixins.adaptiv-value("padding-left", 25, 15);
      @include mixins.adaptiv-value("padding-right", 25, 15);
      flex-shrink: 0;
   }

   &__image {
      display: none;
   }

   &__name-badge {
      background: rgba($color-white, 0.9);
      backdrop-filter: blur(5px);
      padding: 5px 15px;
      border-radius: 5px;
      font-family: $font-main;
      font-size: 12px;
      font-weight: 600;
      color: $color-text;
      line-height: 1;
   }

   &__stats {
      min-width: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
}

.stat-card {
   @include mixins.adaptiv-value("height", 129, 90);
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 20px;
   @include mixins.adaptiv-value("padding", 20, 10);

   &--blue {
      background: $color-primary;
   }

   &__label {
      font-family: $font-main;
      @include mixins.adaptiv-value("font-size", 18, 12);
      font-weight: 600;
      color: $color-white;
      line-height: 1.2;
      margin-bottom: 5px;
   }

   &__number {
      font-family: $font-display;
      @include mixins.adaptiv-value("font-size", 75, 36);
      font-weight: 900;
      text-transform: uppercase;
      color: $color-white;
      line-height: 1;
   }

   line-height: 1;
}

.testimonials {
   padding: 0 20px;
   @include mixins.flex-column-center;
   margin-bottom: 30px;

   &>.section-title {
      margin-bottom: 20px;
   }
}

.testimonials+.cta-container {
   margin-bottom: 52px;
}

.video-testimonial {
   width: 100%;
   @include mixins.adaptiv-value("max-width", 324, 280);
   aspect-ratio: 324 / 490;
   height: auto;
   border-radius: 30px;
   border: 2px solid $color-primary;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('/images/Frame 237.avif') lightgray center / cover no-repeat;
   @include mixins.flex-column-center;
   justify-content: center;
   position: relative;
   overflow: hidden;

   &:not(:last-child) {
      margin-bottom: 40px;
   }

   &__thumbnail {
      display: none;
   }

   &__play-button {
      width: 70px;
      height: 70px;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
         transform: scale(1.1);
      }

      &:active {
         transform: scale(0.95);
      }
   }
}