<section class='carousel-cards'>
	<div class='carousel-cards__container swiper-wrapper'>
		<div class='carousel-card swiper-slide'>
			<img fetchpriority='high' draggable='false' src='/images/carousel_1.avif' alt='Natijaga kafolat 100%' class='carousel-card__image' />
		</div>

		<div class='carousel-card swiper-slide'>
			<img src='/images/carousel_2.avif' draggable='false' alt='Shengen, Yaponiya va Amerika sayohat vizalari' class='carousel-card__image' />
		</div>

		<div class='carousel-card swiper-slide'>
			<img src='/images/carousel_3.avif' draggable='false' alt='1000+ mijozlar 4 yillik tajriba' class='carousel-card__image' />
		</div>

		<div class='carousel-card swiper-slide'>
			<img src='/images/carousel_4.avif' draggable='false' alt='Bonus darslar' class='carousel-card__image' />
		</div>
	</div>

	<div class='carousel-cards__indicators swiper-pagination'></div>
</section>