<section class='carousel-cards'>
	<div class='carousel-cards__container'>
		<div class='carousel-card'>
			<img fetchpriority='high' draggable='false' src='/images/carousel_1.avif' alt='Natijaga kafolat 100%' class='carousel-card__image' />
		</div>

		<div class='carousel-cards__divider'></div>

		<div class='carousel-card'>
			<img src='/images/carousel_2.avif' alt='Shengen, Yaponiya va Amerika sayohat vizalari' class='carousel-card__image' />
		</div>

		<div class='carousel-cards__divider'></div>

		<div class='carousel-card'>
			<img src='/images/carousel_3.avif' alt='1000+ mijozlar 4 yillik tajriba' class='carousel-card__image' />
		</div>

		<div class='carousel-cards__divider'></div>

		<div class='carousel-card'>
			<img src='/images/carousel_4.avif' alt='Bonus darslar' class='carousel-card__image' />
		</div>
	</div>

	<div class='carousel-cards__indicators'>
		<div class='carousel-cards__indicator carousel-cards__indicator--active'></div>
		<div class='carousel-cards__indicator'></div>
		<div class='carousel-cards__indicator'></div>
		<div class='carousel-cards__indicator'></div>
	</div>
</section>