<div class='video-testimonial'>
	<button class='video-testimonial__play-button' aria-label='Play video'>
		<svg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'>
			<g clip-path='url(#clip0_8_205)'>
				<circle cx='34.5' cy='34.5' r='20.5' fill='white' />
				<path
					d='M35 0C28.0777 0 21.3108 2.05272 15.5551 5.89855C9.79933 9.74441 5.31329 15.2107 2.66423 21.6061C0.0151655 28.0015 -0.677952 35.0388 0.672531 41.8282C2.02302 48.6176 5.35643 54.854 10.2513 59.7488C15.1461 64.6435 21.3825 67.977 28.1719 69.3274C34.9612 70.6778 41.9985 69.9848 48.3939 67.3359C54.7893 64.6867 60.2557 60.2006 64.1013 54.4448C67.9473 48.6894 70 41.9224 70 35C70 25.7174 66.3125 16.815 59.7488 10.2513C53.1848 3.68748 44.2826 0 35 0ZM49.0875 37.5958L27.5625 48.3583C27.1185 48.582 26.6247 48.6885 26.1279 48.6678C25.6312 48.6471 25.148 48.4995 24.7243 48.2393C24.3005 47.9795 23.9503 47.6152 23.7069 47.1818C23.4634 46.7483 23.3348 46.2598 23.3334 45.7625V24.2375C23.3299 23.7378 23.4548 23.2457 23.6962 22.8082C23.9376 22.3707 24.2873 22.0025 24.7118 21.739C25.1363 21.4755 25.6215 21.3255 26.1206 21.3033C26.6198 21.2812 27.1163 21.3876 27.5625 21.6125L49.0875 32.375C49.5728 32.6168 49.9812 32.9893 50.2667 33.4504C50.552 33.9115 50.703 34.4432 50.703 34.9854C50.703 35.5276 50.552 36.0593 50.2667 36.5205C49.9812 36.9816 49.5728 37.354 49.0875 37.5958Z'
					fill='#2F72F5'
				/>
			</g>
			<defs>
				<clipPath id='clip0_8_205'>
					<rect width='70' height='70' fill='white' />
				</clipPath>
			</defs>
		</svg>
	</button>
</div>