{{> "src/components/carousel-cards.hbs"}}

<section class='form-intro'>
	<h1 class='form-intro__title'>
		<span class='form-intro__title-highlight'>kusga qatnashish uchun</span> quyidagi anketani to'ldiring
	</h1>
</section>

<section class='anketa-form'>
	<div class='anketa-form__container'>
		<h2 class='anketa-form__heading'>ma'lumotlaringizni kiritib ularni bizga yuboring</h2>
		
		<form class='form'>
			<div class='form__group'>
				<label for='name' class='form__label'>Ismingizni kiriting</label>
				<input 
					type='text' 
					id='name' 
					name='name' 
					class='form__input' 
					placeholder='Ismingiz'
					required
				/>
			</div>

			<div class='form__group'>
				<label for='phone' class='form__label'>Telefon raqamingiz:</label>
				<div class='form__phone'>
					<span class='form__phone-prefix'>+998</span>
					<input 
						type='tel' 
						id='phone' 
						name='phone' 
						class='form__input form__input--phone' 
						placeholder='00 000 00 00'
						required
					/>
				</div>
			</div>

			<div class='form__group'>
				<label for='city' class='form__label'>Qaysi shahardansiz?</label>
				<input 
					type='text' 
					id='city' 
					name='city' 
					class='form__input' 
					placeholder="Misol: Fag'ona"
					required
				/>
			</div>

			<div class='form__group'>
				<label for='current-income' class='form__label'>Hozirgi oylik daromadingiz</label>
				<input 
					type='text' 
					id='current-income' 
					name='current_income' 
					class='form__input js-format-money' 
					placeholder='10 000 000'
					required
				/>
			</div>

			<div class='form__group'>
				<label for='target-income' class='form__label'>Maqsad qilgan daromadingiz</label>
				<input 
					type='text' 
					id='target-income' 
					name='target_income' 
					class='form__input js-format-money' 
					placeholder='20 000 000'
					required
				/>
			</div>

			<div class='form__group'>
				<label for='motivation' class='form__label'>Nega aynan Viza menejer kasbiga qizqasiz</label>
				<textarea 
					id='motivation' 
					name='motivation' 
					class='form__textarea' 
					placeholder='Qisqacha javobingizni kiriting'
					required
				></textarea>
			</div>

			<div class='form__group'>
				<label for='offline-study' class='form__label'>Toshkentda 2 hafta davomida offlayn o'qiy olasizmi</label>
				<input 
					type='text' 
					id='offline-study' 
					name='offline_study' 
					class='form__input' 
					placeholder='Javbingizni kiriting'
					required
				/>
			</div>
			<button class='cta-button cta-button--medium'>ma'lumotlarni yuborish</button>
		</form>
	</div>
</section>
